<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        td, th {
            border: 3px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h3>Suggested Buys</h3><table>
    <tr>
        <th> Company Name </th>
        <th> Last Price </th>
        <th> Count </th>
        <th> AveragePrice </th>
        <th> Equity </th>
        <th> Gain/Loss (USD) </th>
        <th> Reason </th>
    </tr>
    #foreach( $suggestedBuy in $suggestedBuys )
        <tr>
            <td>$suggestedBuy.getCompanyName()</td>
            <td>$suggestedBuy.getLastPrice()</td>
            <td>$suggestedBuy.getCurrentOwnings().getCount()</td>
            <td>$suggestedBuy.getCurrentOwnings().getAveragePrice()</td>
            <td>$suggestedBuy.getCurrentOwnings().getEquity()</td>
            <td>$suggestedBuy.getGainOrLoss()</td>
            <td>$suggestedBuy.getReason()</td>
        </tr>
    #end
</table>
<h3>Suggested Sells</h3>
<table>
    <tr>
        <th> Company Name </th>
        <th> Last Price </th>
        <th> Count </th>
        <th> AveragePrice </th>
        <th> Equity </th>
        <th> Gain/Loss (USD) </th>
        <th> Reason </th>
    </tr>
    #foreach( $suggestedSell in $suggestedSells )
        <tr>
            <td>$suggestedSell.getCompanyName()</td>
            <td>$suggestedSell.getLastPrice()</td>
            <td>$suggestedSell.getCurrentOwnings().getCount()</td>
            <td>$suggestedSell.getCurrentOwnings().getAveragePrice()</td>
            <td>$suggestedSell.getCurrentOwnings().getEquity()</td>
            <td>$suggestedSell.getGainOrLoss()</td>
            <td>$suggestedSell.getReason()</td>
        </tr>
    #end
</table>
<h3>Suggested Holds</h3>
<table>
    <tr>
        <th> Company Name </th>
        <th> Last Price </th>
        <th> Count </th>
        <th> AveragePrice </th>
        <th> Equity </th>
        <th> Gain/Loss (USD) </th>
        <th> Reason </th>
    </tr>
    #foreach( $suggestedHold in $suggestedHolds )
        <tr>
            <td>$suggestedHold.getCompanyName()</td>
            <td>$suggestedHold.getLastPrice()</td>
            <td>$suggestedHold.getCurrentOwnings().getCount()</td>
            <td>$suggestedHold.getCurrentOwnings().getAveragePrice()</td>
            <td>$suggestedHold.getCurrentOwnings().getEquity()</td>
            <td>$suggestedHold.getGainOrLoss()</td>
            <td>$suggestedHold.getReason()</td>
        </tr>
    #end
</table>
<h3>Dividend Stocks</h3>
<table>
    <tr>
        <th>Company Name</th>
        <th>Dividend</th>
    </tr>
    #foreach( $bestDividendStock in $bestDividendStocks.entrySet() )
        <tr>
            <td>$bestDividendStock.getKey()</td>
            <td>$bestDividendStock.getValue()</td>
        </tr>
    #end
</table>
</body>
</html>